body {
    font-family: arial;
}

#entries {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#entries td, #entries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#entries tr:nth-child(even){background-color: #f2f2f2;}
#entries tr:hover {background-color: #ddd;}

#entries tr.ok {
    background-color: white;
}

#entries tr.ok:hover {background-color: #ddd;}

#entries tr.error {
    background-color: orange;
}

#entries tr.error:hover {background-color: #ddd;}


