body {
    font-family: arial;
}

#infoTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#infoTable td, #infoTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#infoTable info1 td {
    background-color: orangered;
}

#infoTable info2 td {
    background-color: orange
}

#infoTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#infoTable tr:nth-child(even){background-color: #f2f2f2;}
#infoTable tr:hover {background-color: #ddd;}

#infoTable tr.ok {
    background-color: white;
}

#infoTable tr.ok:hover {background-color: #ddd;}

#infoTable tr.error {
    background-color: orange;
}

#infoTable tr.error:hover {background-color: #ddd;}
